@charset "UTF-8";

/* Paleta de cores

 cor 01- #64DECD
 cor 02- #9E7D6F
 cor 03- #DE8864
 cor 04- #6B8985
 cor 05- #5E5450
 cor 05- #233432

*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body, html{
    background-color: #233432;
    
    height: 100vh;
    width: 100vw;
}
main{
    
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 270px;
    height: 550px;
    box-shadow: 0px 0px 10px #00000069;
    border-radius: 20px;

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;

    background: #5E5450 url(../imagens/varanda.jpg) top center no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    padding: 10px;
}
section#login > div#formulario h1{
    text-align: center;
    padding: 10px;
}
section#login > div#formulario p{
    font-size: 0.8em;
}
div.campo{
    display: block;
    background-color: #DE8864;
    width: 100%;

    border-radius: 8px;
    margin: 5px 0px;
    padding: 2px;
}
div.campo > label {
    display: none;
}
div.campo > span{
    background-color: none;
    color: white;
    width: 35px;
    font-size: 2em;
    padding: 5px;
    padding-top: 4px;
}
div.campo > input{
    background-color: #d4a895;

    font-size: 1em;
    border: 0px;
    border-radius: 8px;

    width: calc(100% - 44px);
    height: 40px;
    padding: 4px;

    transform: translateY(-5px);
}
div.campo > input:focus-within{
    background-color: white;

}
form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    
    font-size: 1em;
    background-color: #9E7D6F;
    color: #ffffff;

    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #3d312c;
}
form > a.botao{
    display: block;

    text-decoration: none;
    text-align: center;
    font-size: 1em;
    background-color: white;
    color: #3d312c;

    padding-top: 9px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9E7D6F;
    
}
form > a.botao:hover {
    background-color: #cfa390;
}
form > a.botao> span {
    font-size: 0.8em;
}
 